body
{
    font-family: Arial, Helvetica, sans-serif;
}

#Icon
{
    height: 60px;
    width: 100%;
}

#Icon img
{
    position: relative;
    height: 30px;
    width: 10%;
}

#Body
{
    width: 100%;
    height: 1200px;
    background-color: black;
    position: relative;
}

#Main
{
    width: 60%;
    height: 1150px;
    position: relative;
    left: 20%;
}

#Head
{
    vertical-align: bottom;
    width: 100%;
    height: 200px;
    background-image: url('http://cdn26.us1.fansshare.com/photo/hdwallpapersformobile/swish-free-fighter-jets-widescreen-hd-wallpaper-download-for-mobile-phone-wallpapers-and-themes-wallpaper-hd-android-love-for-samsung-animated-new-best-live-phones-280824954.jpg');
    background-size: 100% 200px;
    color: white;
    text-align: right;
    font-size: 30px;
    position: relative;
}

#Head span
{
    position: relative;
    top: 140px;
    right: 20px;
}

#LinkList
{
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

#LinkList ul
{
    list-style-type: none;
    height: 30px;
    position: relative;
}

#LinkList li
{
    display: inline-block;
    width: 15%;
    position: relative;
    text-align: center;
    border-style: groove;
    border-color: white;
    height: 34px;
}

#LinkList li a
{
    text-decoration: none;
    position: relative;
    top: 10px;
}

#InsideBody
{
    background-color: white;
    height: 810px;
    width: 100%;
    position: relative;
}

#LeftPart
{
    width: 63%;
    position: relative;
    left: 8%;
}

#RightPart
{
    width: 22%;
    position: relative;
    left: 11%;
}

#LeftPart, #RightPart
{
    float: left;
    top: 10px;
    height: 780px;
}

h3
{
    color: rgb(80, 236, 59);
    margin: 10px 0px;
}

#LeftTop
{
    height: 200px;
}

#LeftTop, #LeftBottom, #RightTop, #RightBottom
{
    position: relative;
    width: 100%;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-radius: 10px;
}

#LeftBottom
{
    top: 10px;
    height: 540px;
}

.Product
{
    height: 160px;
    width: 100%;
}

.ProductImage
{
    width: 30%;
}

.ProductImage img
{
    width: 100%;
    position: relative;
    top: 25px;
}

.ProductImage, .ProductContext
{
    height: 100%;
    float: left;
}

.ProductContext
{
    width: 70%;
}

#RightTop
{
    height: 250px;
}

.NewsBlock
{
    height: 70px;
}

#RightBottom
{
    height: 460px;
    top: 10px;
}

#Bottom
{
    height: 100px;
    background-color: rgb(80, 236, 59);;
    position: relative;
}

#Bottom span
{
    position: relative;
    top: 30px;
    left: 170px;
}